.container {
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  
  .thumbnail {
    height: 230px;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease-in-out; 
  }

  .thumbnail:hover {
    border-color: rgba(79, 79, 79, 0.5); 
  }
  
  .thumbnail img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .title {
    font-weight: bold;
    margin-top: 5px;
    width: 80%;
    display: inline-block;
  }
  
  .owner-views {
    width: 20%;
    display: inline-block;
  }
  
  .owner-views p {
    margin: 0;
  }