<div class="container">

  <div class="video" *ngIf="video" >
    <div class="video_play">
        <iframe
        width="100%"
        height="100%"
        [src]="video.videoUrl | safePipe"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>

    <div class="video_info">

      <div class="container_title">
        <div style="display: flex; flex-direction: row;">
          <div [routerLink]="'/profile/' + video.ownerId" class="circle">
            <span class="initial">{{ firstLetter }}</span>
          </div>
          <p style="font-size: 30px;">{{ video.title }}</p>
          <div [routerLink]="'/editVideo/' + id" *ngIf="isOwner || isAdmin" style="display: flex; align-items: center; justify-content: center; margin-left: 30px">
            <i class="material-icons" style="font-size: 2em;">edit</i>
          </div>
        </div>

        <div *ngIf="allowRating" style="display: flex; flex-direction: column; font-weight: bold;">
          <span [ngClass]="videoLiked ? 'like' : null" (click)="handleAddLike(true)">
            Likes: {{ likeCount }}
          </span>
          <span [ngClass]="videoDisliked ? 'dislike' : null" (click)="handleAddLike(false)" >
            Dislikes: {{ dislikeCount }}
          </span>
        </div>
        <div *ngIf="!allowRating">
          No rating allowed!
        </div>
      </div>

      <div class="container_description">
        <p [routerLink]="'/profile/' + video.ownerId" style="font-weight: bold;">{{ video.ownerUsername }}</p>
        <p>views: {{ video.views.toLocaleString() }}</p>
        <p>Description: <br>{{ video.description }}</p>
      </div>

    </div>

    <div class="video_comments" *ngIf="allowComments">

      <hr>

      <div *ngIf="isAuthenticated()">
        <div class="form-group">
          <label for="exampleFormControlTextarea1">New comment:</label>
          <textarea [(ngModel)]="newComment" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button class="btn btn-primary" (click)="onAddComment()">Add Comment</button>
      </div>

      <div *ngIf="!isAuthenticated()">
        Login to comment this video..
      </div>

      <hr>
      <p>Comments:</p>
      <div class="row">
        <ng-container *ngIf="comments.length; else noComments">
          <app-video-one-comments *ngFor="let commentEl of comments; let i = index" [comment]="commentEl" [videoOwnerId]="videoOwnerId"></app-video-one-comments>
        </ng-container>
        <ng-template #noComments>
          <p>No comments</p>
        </ng-template>
      </div>

    </div>

    <div *ngIf="!allowComments">Comments are not allowd!</div>

    <div class="video" *ngIf="!video">
      <p>Loading...</p>
    </div>
  </div>





  <div class="videos">
    <app-video-one-videos-list></app-video-one-videos-list>
  </div>
</div>
