
<hr>

<div class="row">
    <ng-container *ngFor="let videosEl of videos; let i = index">
      <div class="col-md-4">
        <div class="mb-3" style="height: 350px; margin: 20px;">
          <app-videos-single [video]="videosEl"></app-videos-single>
        </div>
      </div>
      <div class="w-100 d-md-none d-lg-none d-xl-none d-xxl-none"></div>
    </ng-container>
  </div>

<hr>
<div style="display: flex; align-items: center; justify-content: center;">
    <button class="btn btn-success" type="button" *ngIf="loadMoreButton" (click)="onLoadMore()">Load more videos..</button>
    <p *ngIf="!loadMoreButton">No more to load...</p>
</div>

