.container {
    height: 100%;
    width: 100%;
    border-left: 2px solid rgb(197, 197, 197);
    padding-left: 30px;
    padding-right: 30px;
    background-color: black;
}

.text {
    border-bottom: 1px solid rgb(197, 197, 197);
}